.discover {
    display: flex;
    
    
    
    .discoverContainer{
        flex: 6;
        padding: 28px;
        .title{
            font-size: 40px;
            font-weight: 600;
            color: #fff;
            margin-top: 28px;
            margin-bottom: 28px;

        }

    }
}